# node
node_modules
npm-debug.log
yarn-error.log

# ignore strange OSX icon files. (Note there are special characters after 'Icon')
# see http://stackoverflow.com/a/30755378
Icon

#ignore added files with DS_Store
.DS_Store

# nuxt output directory
.nuxt
dist

# pregenerated output
docs/environment.js
docs/jsdocs.js

# IDE
.idea
kolibri-design-system.iml

# dev playground
docs/pages/playground.vue

# env
.envrc
.python-version
