td,
th {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

th {
  min-width: 50px;
}

.stretch {
  width: 100%;
  min-width: 175px;
}

.first-col {
  min-width: 175px;
  white-space: nowrap;
}
