$border-color: #dedede;
$header-color: #918daf;
$code-color: #696680;
$link-color: #368d74;
$link-hover-color: #26614d;
$selection-color: #badbd2;
$basic-transition: color 0.25s ease, fill 0.25s ease;
$nav-width: 260px;
