@import '~/assets/definitions';

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

code {
  padding-right: 0.25em;
  padding-left: 0.25em;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  white-space: nowrap;
  background-color: #918caf24;
  border-radius: 0.25em;
}

.code {
  font-family: 'Source Code Pro', monospace;
}

a code {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

a {
  display: inline-block; // prevents trailing spaces
  color: $link-color;
  transition: $basic-transition;

  svg {
    fill: $link-color;
    transition: $basic-transition;
  }

  &:hover {
    color: $link-hover-color;
    svg {
      fill: $link-hover-color;
    }
  }
}

*:focus {
  outline-color: #757575;
}

*::selection {
  background: $selection-color;
}

body,
html {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  background-color: white;
  scroll-behavior: smooth;
}

// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

dt {
  margin-top: 16px;
}

dd {
  margin-left: 20px;
}

em {
  font-style: normal;
  font-weight: bold;
}
